.navbar {
    
    background-color: #2f2f2f;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
  }


  .nav-item-logout {
    padding-left: 65rem;
  }
  
  .navbar-brand {
    color: white;
    margin-left: 1rem;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: white;
  }
  
  .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    color: gray;
  }
  

  