<app-navigation></app-navigation>
<div class="row">
    <div class="col-3">
        <input
        #filterInput
        [value] = "filterText()"
        (input)="filterText.set(filterInput.value)"
        type="text" class="form-control" placeholder="Search for an Item">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Manufacturer</th>
                    <th>Quantity</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @for(weapon of list$ | async | search: filterText(); track $index) {
                    <tr>
                        <td>{{ weapon.id }}</td>
                        <td>{{ weapon.Name }}</td>
                        <td>{{ weapon.Price }}</td>
                        <td>{{ weapon.Manufacturer }}</td>
                        <td>{{ weapon.Quantity }}</td>
                        <td>
                            <button class="button btn btn-info"
                                (click)="goToWeaponForm(weapon.id)">
                                
                                Modify
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="button btn btn-danger mx-3"
                                (click)="deleteWeapon(weapon)">
                                Delete

                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

