<app-navigation></app-navigation>
<h1 class="title">Welcome to the Weapon Registry System!</h1>
<p class="description"> This is an Angular application made for subject named: Webtechológiák 2</p>
<p class="description"> With this app, the user is able to do the following tasks: </p>
    <ul class="text">
        <li> User must be logged in to reach the pages</li>
        <li> In the Home page the user can see, what we can do in this app</li>
        <li> In the Weapon page, we can see the list of the weapons</li>
        <li> In the New Weapon page , the user can add new weapons to the list ( and in the database either) </li>
        <li> The user can log out, after the finished operations</li>
        <li> The user can</li>
        <ul>
          <li> Search for weapon elements</li>
          <li> Modify the weapon elements</li>
          <li> Delete the weapons</li>
        </ul>
      </ul>