<app-navigation></app-navigation>
<h3 class="w-50 text-center mx-auto">
    Create Weapon
</h3>

@if(weapon$ | async; as weapon ) {
    <form #editForm="ngForm" class="w-50 mx-auto" (ngSubmit)="onCreate(weapon)">

        <div class="form-group mt-3">
            <label for="">ID</label>
            <input required pattern="[a-zA-Z0-9\s]+" type="text" name="id" id="id" class="form-control" [(ngModel)]="weapon.id">
          
        </div>

        <div class="form-group mt-3">
            <label for="">Name</label>
            <input required pattern="[a-zA-Z0-9\s]+" type="text" name="name" id="name" class="form-control" [(ngModel)]="weapon.Name">
           
        </div>

        <div class="form-group mt-3">
            <label for="">Price</label>
            <input required pattern="[0-9]+$" type="number" name="price" id="price" class="form-control" [(ngModel)]="weapon.Price">
           
        </div>

        <div class="form-group mt-3">
            <label for="">Manufacturer</label>
            <input required pattern="[a-zA-Z0-9\s]+" type="text" name="manufacturer" id="manufacturer" class="form-control" [(ngModel)]="weapon.Manufacturer">
            
        </div>

        <div class="form-check mt-3">
            <input name="quantity" [(ngModel)]="weapon.Quantity" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Quantity 
            </label>
          </div>

          <div class="form-groUp">
            <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary mt-3">Create</button>
          </div>
        

    </form>
}